*{
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.nested-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*  esta propiedad actua en todos los elementos hijo */
    grid-auto-rows: 100px;
    gap: 1em;
}
.nested-grid > div{
    border: 1px solid #000;
    background: #f1c40f;
    padding: 1em;
}
.grid > div{
    background: #ccd1d3;
    padding: 1em;
    transition: background 750ms, border 350ms;
}
.grid > div:hover{
    border: 1px solid #f1c40f;
    background: #8f979b;
    color: #fff;
}