*{
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 1em;
    gap
}

    .e1{align-self: start;}
    .e2{align-self: center;}
    .e3{align-self: end;}

    .e4{justify-self: start;}
    .e5{justify-self: center;}
    .e6{justify-self: end;}



.grid > div{
    background: #ccd1d3;
    padding: 1em;
    transition: background 750ms, border 350ms;
}
.grid > div:hover{
    border: 1px solid #f1c40f;
    background: #8f979b;
    color: #fff;
}